<div class="container">

  <% if policy(@store).store_owner? %>
    <%= link_to "Add a product", new_store_product_path(@store)  %>
  <% end %>

  <%= link_to "Back", stores_path %>
  <br>
  <% if policy(@store).edit? %>
    <%= link_to "Edit Store", edit_store_path %>
  <% end %>

  <h2><%= @store.name %></h2>

  <% if @store.photo.attached? %>
    <%= cl_image_tag @store.photo.key, height: 300, width: 300, crop: :thumb %>
  <% else %>
    <%= link_to "Please upload an image for this store", edit_store_path %>
  <% end %>
  <p>Address: <%= @store.address %></p>
  <p>Description: <%= @store.description %></p>
  <% @products.each do |product| %>
    <h2><%= link_to product.name, product_path(product) %>,</h2>
    <p><%= product.description %></p>
  <% end %>

  <%= link_to "Delete this shop", store_path(@store), method: :delete, data: { confirm: "Are you sure you want to delete #{@store.name}?" }  %>
</div>
