<div class="container">
  <%= link_to "Edit this store", edit_store_path  %>
  <%= link_to "Add a product", new_store_product_path(@store)  %>
  <h2><%= @store.name %></h2>
  <p>Address: <%= @store.address %></p>
  <p>Description: <%= @store.description %></p>
  <% @products.each do |product| %>
    <h2><%= link_to product.name, product_path(product) %>,</h2>
    <p><%= product.description %></p>
  <% end %>

  <%= link_to "Delete this shop", store_path(@store), method: :delete, data: { confirm: "Are you sure you want to delete #{@store.name}?" }  %>
</div>
