<div class="cart-sidebar cart-font">
  <div class="container">
    <!-- Close button -->
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <h2>Your Cart</h2>

    <% if @cart.order_items.count == 0 %>
      <p>Your cart is empty.</p>
    <% else %>
      <% @cart.order_items.each do |order_item| %>
        <div class="cart-product">
          <% if order_item.product.photos.attached? %>
            <% order_item.product.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 125, width: 125, crop: :fill %>
            <% end %>
          <% else %>
            <img src="https://source.unsplash.com/KStSiM1UvPw/125x125" class="cart-product">
          <% end %>

          <div class="cart-product-infos">
            <h2><%= order_item.quantity %> × <%= order_item.product.name %></h2>
            <p><strong><%= number_to_currency(order_item.total_price) %></strong></p>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>

    <%= button_to 'Empty cart', @cart,
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-outline-secondary btn-sm' %>
    <br>

    <h1>Total: <%= number_to_currency(@cart.total_price) %></h1>

    <!-- Single Buy Button -->
    <div class="d-flex justify-content-center">
      <%= link_to 'Single Buy', '#', class: 'btn cart-btn-single btn-sidebar', title: 'Perform a regular purchase by yourself', 'data-toggle' => 'tooltip', 'data-placement' => 'left' %>
    </div>

    <!-- Group Buy Button -->
    <div class="d-flex justify-content-center">
      <%= link_to 'Group Buy', new_lobby_path, class: 'btn cart-btn-group btn-sidebar', title: 'Create a lobby and invite friends to spend more and unlock discounts', 'data-toggle' => 'tooltip', 'data-placement' => 'left' %>
    </div>

    <div class="d-flex justify-content-center">
      <% if session[:cart_id] %>
        <%= link_to 'View your cart', cart_path(session[:cart_id]) %>
      <% else %>
        <%= link_to root_path 'View your cart', notice: 'Your cart is currently empty'%>
      <% end %>
    </div>

  </div>
</div>


