<div class="home-background">
  <div class="container-home">
    <div class="row">
      <div class="col-6" style="padding-left:50px">
        <h4>Shop together, save together</h4>
        <p>Shop with friends at all your favorite stores and get discounts when the value of your collective order reaches a breakpoint</p>
        <div class="form-group">
          <%= link_to "Shop now", stores_path, class: "btn btn-flat" %>
        </div>
      </div>
      <div class="col-6">
        <%= image_tag "product-banner.png" %>
      </div>
    </div>
  </div>




<!-- Featured categories -->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="categories-card">
          <%= image_tag "product-1.png" %>
          <p style="padding-top:10px; padding-bottom:10px; margin-bottom:0px;">Create your dream home</p>
          <div class="form-group">
          <%= link_to "Shop home", stores_path, class: "btn btn-flat" %>
          </div>
        </div>
        <div class="categories-card">
          <%= image_tag "product-2.png" %>
          <p style="padding-top:10px; padding-bottom:10px; margin-bottom:0px;">For the ones that deserve it the most</p>
          <div class="form-group">
          <%= link_to "Shop pets", stores_path, class: "btn btn-flat" %>
          </div>
        </div>
        <div class="categories-card">
          <%= image_tag "product-3.png" %>
          <p style="padding-top:10px; padding-bottom:10px; margin-bottom:0px;">To add a dash of green in your life</p>
          <div class="form-group">
          <%= link_to "Shop plants", stores_path, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








