<div class="container cart-font">
  <h2>Your Cart</h2>

  <%= render 'your_cart' %>

  <%= button_to 'Empty cart', @cart,
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-outline-secondary btn-sm' %>
  <br>

  <h1>Total: <%= number_to_currency(@cart.total_price) %></h1>

  <br>
  <%= link_to 'Single Buy', '#', class: 'btn cart-btn-single' %>
  <%= link_to 'Group Buy', new_lobby_path, class: 'btn cart-btn-group' %>
</div>
