<div class="container">
  <h3 style="padding-top: 25px; text-align: center;">Handpicked Products</h3>
  <p style="padding-bottom: 25px; text-align: center;">Shop hundreds of your favorite products</p>

  <div class="row" style="align-items:flex-start;">

   <div class="col-lg-3" style="background-color: #E7E4D3; padding: 15px;">


    <div class="list-group">
      <%= link_to "Wellness ðŸŒ¿", wellness_path, class: "btn btn-ghost" %>
      <%= link_to "Clothing ðŸ‘•", clothing_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Food ðŸ“", food_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Beauty âœ¨", beauty_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Home ðŸ ", home_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Pets ðŸ±", pets_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Jewelry ðŸ’Ž", jewelry_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Kids & Baby ðŸ‘¶", kids_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Art ðŸ–¼ï¸", art_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Tech ðŸ¤–", tech_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
    </div>

    </div>

  <div class="col-9" style="display:flex; flex-wrap: wrap;">
      <% @products.each do |product| %>
        <div class="card-product" style="margin-bottom: 15px; margin-right: 15px">
          <% if product.photos.attached? %>
            <% product.photos.each do |photo| %>
              <%= cl_image_tag photo.key %>
            <%end%>
          <% else %>
            <img src="https://source.unsplash.com/x_ujfGcrAyU/300x400">
          <% end %>
        <div class="card-product-infos">

          <h1><%= link_to product.name, product_path(product) %></h1>
          <%= link_to number_to_currency(product.price), product_path(product), class: "btn btn-price" %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
