<div class="container">

  <h3 style="padding-top: 25px; text-align: center;">Handpicked Products</h3>
  <p style="padding-bottom: 25px; text-align: center;">Shop hundreds of your favorite products</p>

  <div class="row" style="align-items:flex-start;">

   <div class="col-lg-3" style="background-color: #E7E4D3; padding: 15px;">


    <div class="list-group">
      <%= link_to "Wellness ðŸŒ¿", stores_path, class: "btn btn-ghost" %>
      <%= link_to "Clothing ðŸ‘•", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Food ðŸ“", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Beauty âœ¨", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Home ðŸ ", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Footwear ðŸ‘Ÿ", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
      <%= link_to "Pets ðŸ±", stores_path, class: "btn btn-ghost", style: "margin-top:15px;" %>
    </div>

    </div>

  <div class="col-9" style="display:flex; flex-wrap: wrap; justify-content: space-between;">
      <% @products[0..17].each do |product| %>
        <div class="card-product" style="margin-bottom: 15px">
          <img src="https://source.unsplash.com/x_ujfGcrAyU/300x400">
          <div class="card-product-infos">
            <h1><%= link_to product.name, product_path(product) %></h1>
            <%= link_to number_to_currency(product.price), product_path(product), class: "btn btn-price" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>




