<div class="container">
  <%= simple_form_for [@store, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category_id, collection: @categories %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
