<div class="container">
  <%= simple_form_for ["stores", @store, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
