<div class="container">
  <div class="row product-mt">
    <div class="col-4">
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 612, width: 379, crop: :fill %>
      <% end %>
    </div>
    <div class="col ml-4">
      <div class="store-info-container">
        <div class="picture-product-store">
          <% if @product.store.photo.attached? %>
            <%= cl_image_tag store.photo.key, height: 125, width: 125, crop: :fill, class:"product-store" %>
          <% else %>
            <img src="https://source.unsplash.com/KStSiM1UvPw/125x125" class="product-store">
          <% end %>
        </div>
        <div class="product-store-info">
          <h1 class='product-store-name mb-0'><%= @product.store.name %></h1>
          <p class='product-store-address mb-0'><%= @product.store.address %></p>
          <p class='product-store-description mb-0'><%= @product.store.description %></p>
        </div>
        <div class="product-breakpoint ml-5">
          <p>Breakpoints</p>
          <a class="btn btn-breakpoint-price mt-0" href="#"><%= @product.store.discount_breakpoints %></a>
          <a class="btn btn-breakpoint-one" href="#">10% off</a>
        </div>
      </div>
      <hr class="hr-product">
      <div class="product-info">
        <h1 class="product-title mb-0"> <%= @product.name %> </h1>
        <a class="btn btn-ghost mb-3" href="#"><%= @product.price %></a>
        <p class="product-description"> <%= @product.description %> </p>
      </div>
    </div>
  </div>

  <%= link_to "Edit this product", edit_product_path(@product)  %>

  <%= link_to "Delete this product", product_path(@product), method: :delete, data: { confirm: "Are you sure you want to delete #{@product.name}?" }  %>
</div>




