<div class="container">
  <h1> <%= @product.name %> </h1>

  <h2> <%= @product.description %> </h2>

  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 612, width: 379, crop: :fill %>
  <% end %>

  <%= link_to "Edit this product", edit_product_path(@product)  %>

  <%= link_to "Delete this product", product_path(@product), method: :delete, data: { confirm: "Are you sure you want to delete #{@product.name}?" }  %>
</div>




