<h1> <%= @product.name %> </h1>

<h2> <%= @product.description %> </h2>

<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= button_to 'Add to Cart', order_items_path(product_id: @product) %>

<%= link_to "Edit this product", edit_product_path(@product)  %>

