<div class="container" style="margin-top: 50px; margin-bottom: 50px">
  <div class="row product-mt" style='margin-bottom: 100px;'>
    <div class="col-12 col-md-4">
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 612, width: 379, crop: :fill, class:"product-image-center" %>
      <% end %>
    </div>
    <div class="col-6 col-md-8">
      <div class="store-info-container">
        <div class="picture-product-store">
          <% if @product.store.photo.attached? %>
            <%= cl_image_tag @product.store.photo.key, crop: :fill, class:"show-product-store" %>
          <% else %>
            <img src="https://source.unsplash.com/KStSiM1UvPw/125x125" class="product-store">
          <% end %>
        </div>
        <div class="product-store-info">
          <h1 class='mb-0'><%= @product.store.name %></h1>
          <p class='mb-0'style="color:#51A996;"><%= @product.store.address %></p>
          <p class='mb-0'><%= @product.store.description %></p>
        </div>
        <div class="product-breakpoint ml-5">
          <p>Breakpoints</p>

          <!-- Tooltip for breakpoints -->
          <button type="button" class="btn btn-breakpoint-price" data-toggle="tooltip" data-placement="top" title="Spend this much in a Group or Single buy to unlock a special 10% discount with this store!">
            <%= number_to_currency(@product.store.discount_breakpoints) %>
          </button>
          <a class="btn btn-breakpoint-one" href="#">10% off</a>

        </div>
      </div>
      <hr class="hr-product">
      <div class="product-info">
        <h3 class="mb-0"> <%= @product.name %> </h3>
        <a class="btn btn-price mt-3 mb-3" href="#"><%= number_to_currency(@product.price) %></a>
        <p style="margin-bottom: 80px;"> <%= @product.description %> </p>
        <%= simple_form_for @order_item do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.input :quantity, input_html: {value: '1', min: '1', style: 'width:100px; border-color: black;'}  %>
          <%= f.submit 'Add to Cart', class: 'btn btn-black', style: 'margin-bottom:15px;' %>
        <% end %>

      </div>

      <% if policy(@product.store).edit? %>
        <%= link_to "Edit", edit_product_path(@product), class: 'btn btn-transparent', style: 'margin-bottom:15px;'  %>
      <% end %>
      <% if policy(@product.store).edit? %>
        <%= link_to "Delete", product_path(@product), class: 'btn btn-transparent', style: 'margin-bottom:15px;', method: :delete, data: { confirm: "Are you sure you want to delete #{@product.name}?" }  %>
      <% end %>

    </div>

  </div>

</div>





